The following versions of these libraries are necessary to run this Project :-

Streamlit------------------> 1.22.0
Pandas---------------------> 2.0.1
Json-----------------------> 4.17.3
plotly.express-------------> 0.4.1
geopandas------------------>
MySQL----------------------> 0.0.3
streamlit_option_menu------>
scikit_learn
